.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #393E46;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.refresh {
  cursor: pointer;
}

.winnners {
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
  color: white;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  background: #191919;
  padding: 20px;
}

footer > p {
  margin: 0;
  font-size: 18px;
}